langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langgraph
faiss-cpu
streamlit
pypdf
sentence-transformers
python-dotenv
pandas
pydantic
jupyter
openai
gspread
google-auth
torchvision
